.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.productSortContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 50px;
}

.productGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.productItem {
  width: 15%;
  padding: 0.8rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-left: 10px;
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.3s ease;
}

.productItem:hover {
  transform: translateY(-5px);
}

.productImage {
  width: 70%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.productTitle {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}

.productPrice {
  display: flex;
  color: #604c94;
  font-weight: bold;
}

.addToCartButton {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  background-color: #604c94;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: #4d3a7f;
}
